h1{
    color:darkblue;
    text-decoration: line-through;
    font-size: 40px;
    transition:all 1s;
}

h1:hover{
    font-size: 140px;
    color: blueviolet;
    transform: rotate(180deg);
}

#outer{
    height: 500px;
    background: palevioletred;
}

#inner{
    height: 50%;
    width: 50%;
    background: green;

    padding: 20px;
    border: 40px p;
    margin: 30px;


}